
@model List<EntityLayer.Entities.Product>
<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>T</span>-echnoAPP</h1>
                                <h2>Teknoloji Nabzının Attığı Mağaza</h2>
                                <p>Teknolojiye Dair Aradığınız A'dan Z'ye Her Şey Bu Mağazada...</p>
                                <button type="button" class="btn btn-default get">Alışveriş Yap</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/Image/anasayfa2.jpg" class="girl img-responsive" alt="" />

                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>T</span>-echnoApp</h1>
                                <h2>Teknoloji Nabzının Attığı Mağaza</h2>
                                <p>Teknolojiye Dair Aradığınız A'dan Z'ye Her Şey Bu Mağazada...</p>
                                <button type="button" class="btn btn-default get">Alışveriş Yap</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/Image/anasayfa3.jpg" class="girl img-responsive" alt="" />

                            </div>
                        </div>


                    </div>
                </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    
</section
><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            @Html.Action("CategoryList", "Category")

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">ÜRÜNLERİMİZ</h2>
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">

                                        <a href="/Product/Details/@item.Id"><img src="~/Content/Image/@item.Image" width="65" height="110" alt="" /></a>
                                        <h2>@item.Price</h2>
                                        <p>@item.Name</p>
                                        <a href="/Product/Details/@item.Id" class="btn btn-default add-to-cart">Ürün Detay</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    }
                    




                </div><!--features_items-->

                @Html.Action("PopularProduct", "Product")

            </div>
        </div>
    </div>
</section>
